@import "../../styles/custom_variables.scss";

.notification {
  width: 100%;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 1.5rem;
  padding: 0.875rem 3rem 0.875rem 4.5rem;
  position: relative;

  .icon {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px 0 0 8px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem
  }

  .close {
    position: absolute;
    top: 0.875rem;
    right: 1rem;
  }
}

.error {
  background-color: #574750;
  border: 1px solid $red;

  .icon {
    background-color: $red;
  }
}

.success {
  background-color: #475753;
  border: 1px solid $green;

  .icon {
    background-color: $green;
    color: $grey-80;
  }
}