@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";

$primary: #4b9af5;
$secondary: #6a7e95;
$secondary-inverse: findColorInvert($secondary);
$accent: #d75f4c;
$accent-inverse: findColorInvert($accent);
$grey-text: #bbbbbb;
$grey-dark: #3a4249;
$grey-mid: #575f68;
$grey-light: #69727c;
$grey-main: #434b54;
$orange: #d75f4c;
$green: #bedf5d;
$red: #ba303e;
$grey-100: #3a4249;
$grey-100-inverse: findColorInvert($grey-100);
$grey-80: #434B54;
$grey-80-inverse: findColorInvert($grey-80);
$grey-60: #575F68;
$grey-60-inverse: findColorInvert($grey-60);
$grey-40: #69727C;
$grey-40-inverse: findColorInvert($grey-40);

$additional-colors: (
  "secondary": ($secondary, $secondary-inverse),
  "accent": ($accent, $accent-inverse),
  "grey-100": ($grey-100, $grey-100-inverse),
  "grey-80": ($grey-80, $grey-80-inverse),
  "grey-60": ($grey-60, $grey-60-inverse),
  "grey-40": ($grey-40, $grey-40-inverse),
);

// navbar related variables
// $navbar-background-color:	$white
// $navbar-height:	3.25rem
$navbar-item-color: $black;
$navbar-item-hover-color: $white;
// $navbar-item-hover-background-color:	$background;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: rgba($black, 0.2);

// Titles & Subtitles
// $title-color:	$grey-darker;
$title-color: $secondary;
// $title-size:	$size-3;
// $title-weight:	$weight-semibold;
// $title-strong-weight:	inherit;
// $title-strong-color:	inherit;
// $subtitle-color:	$grey-dark;
// $subtitle-size:	$size-5;
// $subtitle-weight:	$weight-normal;
// $subtitle-strong-color:	$grey-darker;
// $subtitle-strong-weight:	$weight-semibold;

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";