// Global
body, button, input, select, textarea {
  font-family: Helvetica, Arial, sans-serif;
}

html,
body, 
#root,
#root > div,
main,
main > .columns,
main > .columns > .column {
  height: 100%;
}

aside,
section {
  height: calc(100% - 90px);
  float: right;
}

aside {
  width: 225px;
  float: left;
  background-color: $grey-60;
  @include desktop {
    width: 250px;
  }
  @include mobile {
    display: none;
  }
}

section {
  width: calc(100% - 225px);
  @include desktop {
    width: calc(100% - 250px);
  }
  @include mobile {
    width: 100%;
  }
}

body,
.title.is-1,
.title.is-2,
.title.is-3,
.title.is-4,
.title.is-5,
.title.is-6,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.label,
p {
  color: white;
  font-weight: 400;
  p {
    display: table;
    width: 100%;
  }
}

.label {
  color: white;
}

a {
  &:hover {
    color: $primary;
  }
}

.title.is-1 {
  font-size: 3.625rem;
}

.title.is-2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.title.is-3 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

.title.is-4 {
  font-size: 1.625rem;
  font-weight: 100;
  letter-spacing: -1px;
}

.title.is-5 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.subtitle {
  color: white;
  font-weight: bold;
}

.help {
  display: table-cell;
  text-align: right;
  color: $orange;
  a {
    color: $orange;
    font-weight: bold;
    &:hover {
      color: darken($orange, 2%);
    }
  }
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  font-size: 0.875rem;
  padding: 0 1.25rem;
  height: 38px;
  &.is-large, &.is-medium, &.is-small {
    font-size: 0.875rem;
    border-radius: 4px;
  }
  &.is-small {
    padding: 0 1rem;
    height: 30px;
  }
  &.is-medium {
    padding: 0 2.25rem;
    height: 48px;
  }
  &.is-large {
    padding: 0 3rem;
    height: 55px;
  }
}

.input {
  height: 50px;
}

.input-prefix {
  position: relative;
  input {
    padding-left: 60px;
  }
  &:after {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 3px 0 0 3px;
    left: 0;
    top: 0;
    background-color: $grey-text;
    content: "@";
    text-align: center;
    line-height: 50px;
    font-size: 1.25rem;
  }
}

.label:not(:last-child) {
  margin-bottom: 0.125rem;
}

.field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.input, .textarea {
  border-radius: 3px;
}

main {
  background-color: $grey-main;
}

.level:not(:last-child) {
  margin-bottom: 0;
}

.box {
  background-color: $grey-mid;
  box-shadow: none;
  border-radius: 10px;
  color: white;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.section {
  padding: 0;
  margin: 0 0 3rem 0;
}

// Custom Global
.icon-transfer_to {
  color: $red;
}

.icon-transfer_from {
  color: $green;
}

.user-thumb {
  border-radius: 20px;
  border: 3px solid $orange;
  width: 40px;
  height: 40px;
}

.financials {
  .title:not(.is-spaced) + .subtitle,
  .title:not(:last-child),
  .subtitle:not(:last-child) {
    margin: 0;
  }
  .tag {
    &:not(body) {
      &.is-primary {
        background-color: $green;
        color: $grey-light;
      }
    }
  }
}

// Main Content
.content {
  padding: 3rem;
  @include mobile {
    padding: 2rem;
  }
  .list {
    margin: 0;
    &.transaction {
      .heading {
        margin-bottom: 0;
      }
    }
    &.users {
      .username {
        margin-bottom: 0;
      }
    }
    .level.is-mobile .level-item:not(:last-child) {
      margin-right: 0.75rem;
    }
    li {
      background-color: transparent;
      color: white;
      padding: .75rem 1.25rem;
      margin: 0;
      &:nth-child(odd) {
        background-color: $grey-mid;
      }
    }
  }
  .connected_accounts {
    .columns {
      .column {
        padding: 1rem;
      }
    }
  }
  .reset_password {
    padding: 0 1rem;
  }
}

// Narrow Column
.is-narrow {
  background-color: $grey-mid;
  width: 250px;
  @include tablet-only {
    width: 210px;
  }

  li .menulist {
    margin: 0;
    padding: 0;
  }
}

// Logged in
.-is-logged-in {
  background-color: $grey-light;
  &.menulist {
    position: relative;
    box-shadow: none;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 1px;
      width: 100%;
      background: linear-gradient(to right, $grey-40, $grey-60);
    }
    li {
      a {
        text-transform: capitalize;
        &:after {
          background: linear-gradient(to right, $grey-40, $grey-60);
        }
        &:hover {
          background-color: darken($grey-light, 2%);
        }
      }
    }
  }
}

// Footer
footer {
  border-top: 1px solid $grey-mid;
  margin: 3rem 3rem 1rem 3rem;
  font-size: 0.875rem;
  color: $grey-mid;
  p {
    color: $grey-mid;
  }
  a {
    color: $grey-mid;
    &:hover {
      color: $grey-mid;
    }
  }
  @include mobile {
    margin: 2rem 2rem 1rem 2rem;
  }
}









.ReactModal__Body--open {
  .ReactModal__Overlay {
    background-color: rgba($grey-60,0.9) !important;
    z-index: 3;
  }

  .ReactModal__Content {
    background-color: $grey-80 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    max-width: 500px;
    margin: 0 auto;
    bottom: auto !important;
    @media (max-width: 575px) {
      max-width: 100%;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
    }
    .modal-header {
      background-color: $orange;
      padding: 1.5rem 2rem;
      border-bottom: 0;
    }
    .modal-body {
      padding: 2rem;
    }
    h3 {
      margin-bottom: 0;
    }
    .modal-cta {
      background-color: $grey-100;
      margin: 0 -2rem -2rem -2rem;
      padding: 2rem;
    }
    .js-modal-close {
      padding: 0;
      visibility: hidden;
      position: absolute;
      top: 1.75rem;
      right: 2rem;
      &:after {
        font-family: 'icomoon';
        content: "\e90c";
        font-size: 200%;
        color: white;
        visibility: visible;
      }
    }

    .login-progress {
      ul {
        list-style-type: none;
        padding-left: 0;
        position: relative;
        z-index: 0;
        width: 100%;
        padding: 0 15px;
        li {
          position: relative;
          height: 30px;
          &:after {
            content: "";
            position: absolute;
            right: -15px;
            top: 3px;
            background-color: $grey-60;
            width: 24px;
            height: 24px;
            border-radius: 15px;
          }
          &:before {
            content: "";
            position: absolute;
            top: 14px;
            left: 0px;
            width: 100%;
            height: 3px;
            background-color: $grey-60;
            z-index: -1;
          }
          &.active {
            &:after {
              width: 30px;
              height: 30px;
              top: 0;
              background-color: $green;
            }
            &:before {
              background-color: $green;
            }
          }
        }
      }
    }
  }
}