$orange: #d75f4c;
$green: #bedf5d;
$grey-100: #3a4249;
$grey-80: #434B54;
$grey-60: #575F68;
$grey-40: #69727C;

.ReactModal__Body--open {
  .ReactModal__Overlay {
    background-color: rgba($grey-60,0.9) !important;
    z-index: 3;
  }

  .ReactModal__Content {
    background-color: $grey-80 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    max-width: 500px;
    margin: 0 auto;
    bottom: auto !important;
    @media (max-width: 575px) {
      max-width: 100%;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
    }
    .modal-header {
      background-color: $orange;
      padding: 1.5rem 2rem;
      border-bottom: 0;
    }
    .modal-body {
      padding: 2rem;
    }
    h2 {
      margin-bottom: 0;
    }
    .modal-cta {
      background-color: $grey-100;
      margin: 0 -2rem -2rem -2rem;
      padding: 2rem;
    }
    .js-modal-close {
      padding: 0;
      visibility: hidden;
      &:after {
        font-family: 'icomoon';
        content: "\e90a";
        font-size: 150%;
        color: white;
        visibility: visible;
      }
    }

    .login-progress {
      ul {
        list-style-type: none;
        padding-left: 0;
        position: relative;
        z-index: 0;
        width: 100%;
        padding: 0 15px;
        li {
          position: relative;
          height: 30px;
          &:after {
            content: "";
            position: absolute;
            right: -15px;
            top: 3px;
            background-color: $grey-60;
            width: 24px;
            height: 24px;
            border-radius: 15px;
          }
          &:before {
            content: "";
            position: absolute;
            top: 14px;
            left: 0px;
            width: 100%;
            height: 3px;
            background-color: $grey-60;
            z-index: -1;
          }
          &.active {
            &:after {
              width: 30px;
              height: 30px;
              top: 0;
              background-color: $green;
            }
            &:before {
              background-color: $green;
            }
          }
        }
      }
    }
  }
}