@import "../../styles/custom_variables.scss";

$colors: map-merge($colors, $additional-colors);

.swatch_wrapper {
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
}
.swatch_info {
  background-color: #fff;
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 100px;
  border-radius: 0px 0px 2px 2px;
  padding: 0.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: left;
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.1);

  .color_name {
    font-weight: 700;
  }
  .color_detail {
    opacity: 0.5;
    white-space: nowrap;
  }
  // border-radius: 2px;
  // box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  // // display: inline-block;
  // // float: left;
  // height: 24px;
  // margin-right: 8px;
  // width: 24px;
}

// share css variables with javascript. ftw!
:export {
  @each $name, $color in $colors {
    color_#{$name}: nth($color, 1);
    color_invert_#{$name}: nth($color, 2);
  }
}
