@import "../../styles/custom_variables.scss";

.header {
	background-color: $grey-dark;
	position: relative;
	padding: 1em;
	height: 90px;
	@include mobile {
		padding: 0;
		height: 50px;
	}
	.menu_toggle {
		width: 50px;
		height: 50px;
		border-radius: 0;
		span {
			font-size: 1.5rem;
		}
	}
	.logo {
		height: 55px;
		@include mobile {
			height: 25px;
		}
	}
	.user_info {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 80%;
		.user_meta {
			position: absolute;
			right: 110px;
			top: 0;
			> * {
				word-break: normal;
			}
			.title {
				margin: .25rem 0 0 0;
			}
			.subtitle, a {
				color: $secondary;
				margin-bottom: 0;
				span {
					color: $primary;
				}
			}
		}
		.settings {
			position: absolute;
			right: 75px;
			top: 55px;
			border: 5px solid $primary;
			border-radius: 15px;
			width: 30px;
			height: 30px;
			background-color: white;
			z-index: 2;
			@include mobile {
				border: 3px solid $primary;
				width: 25px;
				height: 25px;
				top: 20px;
				right: 45px;
			}
			span {
				color: $grey-dark;
				position: absolute;
				top: -1px;
				left: 3px;
				font-size: .9rem;
				@include mobile {
					font-size: .875rem;
				}
			}
		}
		.profile_thumbnail {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
			@include mobile {
				top: -25px;
			}
			img {
				border-radius: 50px;
				border: 8px solid $orange;
				width: 100px;
				height: 100px;
				@include mobile {
					border-radius: 35px;
					border: 5px solid $orange;
					width: 70px;
					height: 70px;
				}
			}
		}
	}
}