@import "../../styles/custom_variables.scss";

footer {
	border-top: 1px solid $grey-mid;
	margin: 3rem 3rem 0 3rem;
	padding-bottom: 1rem;
	font-size: 0.875rem;
	color: $grey-mid;
	p {
		color: $grey-mid;
	}
	a {
		color: $grey-mid;
		&:hover {
			color: $grey-mid;
		}	
	}
	@include mobile {
		margin: 2rem 2rem 1rem 2rem;
	}
}