@import "../../styles/custom_variables.scss";

.financials {
  .balance {
    line-height: normal;
    font-weight: 200;
    min-width: 200px;
  }
  .full_balance {
    font-size: 1.125rem;
    line-height: 1rem;
    margin: 0;
    margin-bottom: 0 !important;
    color: $grey-text;
    font-weight: 400;
  }
  .tag {
    font-weight: bold;
    font-size: 0.875rem;
    background-color: $green;
    color: $grey-light;
    margin-top: 5px;
    span {
      font-size: 0.5625rem;
      padding-right: 2px;
    }
    &.minus {
      background-color: $red;
      color: $white;
    }
  }
  .balance_suffix {
    font-size: 50%;
    text-transform: uppercase;
  }
}
