@import "../../styles/custom_variables.scss";

.financials {
  .balance {
    line-height: 3rem;
    margin-bottom: 0;
    span {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  .full_balance {
    font-size: 1.125rem;
    margin: 0;
    color: $grey-text;
  }
  .tag {
    font-weight: bold;
    font-size: 0.875rem;
    span {
      font-size: 0.5625rem;
      padding-right: 2px;
    }
  }
}